@use 'animations';

@keyframes starFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.25);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes starGlimmer {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

.sky-visual {
    &__container {
        &__stars-g {
            &__star-g {
                &__circle {
                    fill: rgba(255, 255, 255, 0.9);
                    opacity: 0;
                    transform: scale(0.5);
                    animation:
                      starFadeIn 2s ease-out forwards,
                      starGlimmer 3s ease-in-out 3s infinite;
                }
            }
        }

        &__sun-and-moon-g {
            &__moon-g {
                &__circle {
                    pointer-events: auto;
                    fill: rgb(168, 180, 184);
                    cursor: pointer;
                }
    
                &__text {
                    text-anchor: middle;
                    dominant-baseline: middle;
                    font-size: 25px;
                    font-family: 'Consolas';
                    letter-spacing: -2px;
                    fill: rgb(95, 95, 95);
                    opacity: 0;
                    transition: opacity var(--transition-speed-slow) ease-in-out;
    
                    &--hover {
                        opacity: 1;
                    }
                }
            }
        }

        &__horizon-line {
            stroke: rgb(46, 59, 65);
            stroke-width: 2px;
            @include animations.fadeIn(4s);
        }

        &__horizon-glare-g {
            &__lower {
                fill: url(#horizon-glare-lower);
            }

            &__upper {
                fill: url(#horizon-glare-upper);
                @include animations.fadeIn(4s);
            }
        }
    }
}
