<div class="options-menu__container">
    <form [formGroup]="form" (ngSubmit)="submit()" class="options-menu__container__form">
        <div class="options-menu__container__form__form-group">
            <ui-toggle
                [label]="'Show moon'"
                [checked]="true"
                class="options-menu__container__form__form-group__form-element"
            ></ui-toggle>
            <ui-toggle
                [label]="'Rain'"
                [checked]="true"
                [disabled]="true"
                class="options-menu__container__form__form-group__form-element"
            ></ui-toggle>

            <ui-slider
                [label]="'Star count'"
                [value]="100"
                [min]="50"
                [max]="200"
                [step]="10"
                [disabled]="false"
            ></ui-slider>
            <ui-slider
                [label]="'Star count'"
                [value]="100"
                [min]="50"
                [max]="200"
                [step]="10"
                [disabled]="true"
            ></ui-slider>
        </div>

        <div class="options-menu__container__form__button-group">
            <ui-button
                [label]="'Reset'"
                [ariaLabel]="'Reset'"
                [iconName]="'cancel'"
                [type]="'reset'"
                class="options-menu__container__form__button-group__button"
            ></ui-button>
            <ui-button
                [label]="'OK'"
                [ariaLabel]="'OK'"
                [iconName]="'done'"
                [type]="'submit'"
                [disabled]="false"
                class="options-menu__container__form__button-group__button"
            ></ui-button>
        </div>
    </form>
</div>

