<div class="options-menu__container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="options-menu__container__form">
        <div class="options-menu__container__form__form-group">
            <ng-container *ngFor="let item of formConfig">
                <ui-toggle
                    *ngIf="isToggle(item)"
                    [formControlName]="item.formControlName"
                    [label]="item.label"
                    class="
                        options-menu__container__form__form-group__form-element
                        options-menu__container__form__form-group__form-element--toggle
                    "
                ></ui-toggle>

                <ui-slider
                    *ngIf="isSlider(item)"
                    [formControlName]="item.formControlName"
                    [label]="item.label"
                    [min]="item.min"
                    [max]="item.max"
                    [step]="item.step"
                    class="
                        options-menu__container__form__form-group__form-element
                        options-menu__container__form__form-group__form-element--slider
                    "
                ></ui-slider>
            </ng-container>
        </div>

        <div class="options-menu__container__form__button-group">
            <ui-button
                [label]="'Reset'"
                [ariaLabel]="'Reset'"
                [iconName]="'cancel'"
                [type]="'button'"
                [hideLabel]="true"
                [showLabelOnHover]="true"
                (buttonClicked)="reset.emit()"
                class="options-menu__container__form__button-group__button"
            ></ui-button>
            <ui-button
                [label]="'OK'"
                [ariaLabel]="'OK'"
                [iconName]="'done'"
                [type]="'submit'"
                [hideLabel]="true"
                [showLabelOnHover]="true"
                [disabled]="false"
                class="options-menu__container__form__button-group__button"
            ></ui-button>
        </div>
    </form>
</div>

