.header {
    display: flex;
    justify-content: space-between;
    background: none;

    &__titles {
        margin: 8px;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &__nav {
        display: flex;
        gap: 16px;
        margin: 16px;
    }
}