<header class="header">
    <div class="header__titles">
        <h1>{{siteName}} |</h1><p>{{pageTitle}}</p>
    </div>

    <nav class="header__nav">
        <ui-button
            *ngFor="let button of navButton$ | async"
            [label]="button.label"
            [ariaLabel]="button.ariaLabel"
            [iconName]="button.iconName"
            [hideLabel]="button.hideLabel"
            [showLabelOnHover]="button.showLabelOnHover"
            (buttonClicked)="navButtonClicked.emit(button)"
        ></ui-button>
    </nav>
</header>