<div class="cityscape-page__container">
    <sky-visual
        [data]="starData"
        [width]="width"
        [height]="height"
        class="cityscape-page__container__layer cityscape-page__container__layer--sky"
    ></sky-visual>
    
    <buildings-visual
        [data]="undefined"
        [width]="width"
        [height]="height"
        class="cityscape-page__container__layer cityscape-page__container__layer--buildings"
    ></buildings-visual>

    <options-menu
        [form]="form"
        [formConfig]="formConfig"
        (submit)="onSubmit()"
        (reset)="onReset()"
    ></options-menu>

    <conversation-bubbles
        [data]="conversationState"
        [width]="width"
        [height]="height"
        (select)="onConversationSelect($event)"
        class="cityscape-page__container__layer cityscape-page__container__layer--bubbles"
    ></conversation-bubbles>


</div>