.cityscape-page {
    &__container {
        width: 100vw;
        height: 100vh;
        position: relative;

        &__layer {
            position: absolute;
            transform: translate(-50%, -50%);
            width: auto;
            height: auto;

            &__sky {
                z-index: 0;
                top: 50%;
                left: 50%;
            }

            &__buildings {
                z-index: 10;
                top: 50%;
                left: 50%;
            }
        }

        &__conversation {
            position: absolute;
            top: calc(75% - 120px);

            justify-content: flex-end;
            flex-direction: column;
        }

        // TODO: should actually be inside an overlay container, attached to one of the header buttons
        &__options {
            position: absolute;
        }
    }
}