.cityscape-page {
    &__container {
        width: 100vw;
        height: 100vh;
        position: relative;

        &__layer {
            position: absolute;
            transform: translate(-50%, -50%);
            width: auto;
            height: auto;

            &__sky {
                z-index: 0;
                top: 50%;
                left: 50%;
            }

            &__buildings {
                z-index: 10;
                top: 50%;
                left: 50%;
            }
        }

        &__conversation {
            position: absolute;
            top: calc(70% - 190px);

            justify-content: flex-end;
            flex-direction: column;
        }
    }
}