<div class="cityscape-page__container">
    <sky-visual
        [data]="starData"
        [width]="width"
        [height]="height"
        [horizonPositionFraction]="horizonPositionFraction"
        class="cityscape-page__container__layer cityscape-page__container__layer__sky"
    ></sky-visual>
    
    <buildings-visual
        [data]="undefined"
        [width]="width"
        [height]="height"
        [horizonPositionFraction]="horizonPositionFraction"
        class="cityscape-page__container__layer cityscape-page__container__layer__buildings"
    ></buildings-visual>

    <div class="cityscape-page__container__conversation">
        <conversation-bubbles
            [data]="conversationState"
            [width]="width"
            [height]="height"
            (select)="onConversationSelect($event)"
            class="cityscape-page__container__conversation"
        ></conversation-bubbles>
    </div>

    <options-menu
        [form]="form"
        [formConfig]="formConfig"
        (submit)="onSubmit()"
        (reset)="onReset()"
        class="cityscape-page__container__options"
    ></options-menu>
</div>