@keyframes opacityFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.sky-visual {
    &__container {
        &__stars-g {
            &__star-g {
                &__circle {
                    fill: rgba(255, 255, 255, 0.9);
                    opacity: 0;
                    transform: scale(0.2);
                    animation: opacityFadeIn 2s ease-in-out forwards;
                }
            }
        }
    }
}